In [ ]:

import pandas as pd

1. Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
url = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv'
movies = pd.read_csv(url)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

2. visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

                    Film    Genre  ... Worldwide Gross  Year
69             Enchanted   Comedy  ...        $340.49   2007
70             Dear John    Drama  ...        $114.97   2010
71             Beginners   Comedy  ...         $14.31   2011
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[8 rows x 8 columns]

3. visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies[['Film', 'Genre']]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

4. visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies.iloc[20:31]

                                   Film      Genre  ... Worldwide Gross  Year
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008
30                             Penelope     Comedy  ...         $20.74   2008

[11 rows x 8 columns]

5. visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies.loc[[23,29,45],['Film','Year']]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

6. visualizzare i titoli dei film del genere “Animation”

In [ ]:
movies.loc[(movies['Genre']=='Animation')]

                                  Film      Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Animation  ...         $41.94   2008
1                      Youth in Revolt  Animation  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger  Animation  ...         $26.66   2010
3                         When in Rome  Animation  ...         $43.04   2010
4                What Happens in Vegas  Animation  ...        $219.37   2008
..                                 ...        ...  ...             ...   ...
72                 Across the Universe  Animation  ...         $29.37   2007
73                       A Serious Man  Animation  ...         $30.68   2009
74                  A Dangerous Method  Animation  ...          $8.97   2011
75                          27 Dresses  Animation  ...        $160.31   2008
76                (500) Days of Summer  Animation  ...         $60.72   2009

[77 rows x 8 columns]

7. visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”

In [ ]:
movies[(movies['Lead Studio']=='Disney') | (movies['Lead Studio']=='Fox')]

                                  Film      Genre  ... Worldwide Gross  Year
3                         When in Rome  Animation  ...         $43.04   2010
4                What Happens in Vegas  Animation  ...        $219.37   2008
6                               WALL-E  Animation  ...        $521.28   2008
16                        The Proposal  Animation  ...        $314.70   2009
22                             Tangled  Animation  ...        $355.01   2010
44                       Marley and Me  Animation  ...        $206.07   2008
49                  Love & Other Drugs  Animation  ...         $54.53   2010
56                         Just Wright  Animation  ...         $21.57   2010
60  High School Musical 3: Senior Year  Animation  ...        $252.04   2008
64                   Gnomeo and Juliet  Animation  ...        $193.97   2011
65                   Gnomeo and Juliet  Animation  ...        $193.97   2011
69                           Enchanted  Animation  ...        $340.49   2007
75                          27 Dresses  Animation  ...        $160.31   2008
76                (500) Days of Summer  Animation  ...         $60.72   2009

[14 rows x 8 columns]

8. visualizzare i titoli dei film usciti dal 2005 al 2010

In [ ]:
movies[(movies['Year']<= 2005) & (movies['Year'] <= 2010), ['Film',"Year"]]

TypeError: ignored

9. visualizzare i film (tutte le colonne) il cui titolo comincia con la lettera W

In [ ]:
#movies[movies['Film'].str.contains("For")]
#movies[movies['Film'].str.startswith("w")]
movies[movies['Film'].str.endswith("o")]

                          Film    Genre  ... Worldwide Gross  Year
0   Zack and Miri Make a Porno  Romance  ...         $41.94   2008
25        Sex and the City Two   Comedy  ...        $288.35   2010
41                 Monte Carlo  Romance  ...         $39.66   2011

[3 rows x 8 columns]

10. visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies.loc[movies['Genre']== 'Drama', ['Audience score %']].mean()

Audience score %    67.230769
dtype: float64

In [ ]:
movies.groupby("Genre")["Film"].count()

Genre
Action        1
Animation     4
Comdy         1
Comedy       41
Drama        13
Fantasy       1
Romance      13
Romence       1
comedy        1
romance       1
Name: Film, dtype: int64

diminuire dekl 10% il valore si 'audience score %'

In [ ]:
movies['Audience score %'] =movies['Audience score %'].apply(lambda x: x* 0.9)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

In [ ]:
movies['Audience score %'] =movies['Audience score %']* 0.9
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

visualizaare le prime 12 rige del dataframe

In [ ]:
movies.head(12)

                                   Film      Genre  ... Worldwide Gross  Year
0            Zack and Miri Make a Porno    Romance  ...         $41.94   2008
1                       Youth in Revolt     Comedy  ...         $19.62   2010
2    You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                          When in Rome     Comedy  ...         $43.04   2010
4                 What Happens in Vegas     Comedy  ...        $219.37   2008
5                   Water For Elephants      Drama  ...        $117.09   2011
6                                WALL-E  Animation  ...        $521.28   2008
7                              Waitress    Romance  ...         $22.18   2007
8                   Waiting For Forever    Romance  ...          $0.03   2011
9                       Valentine's Day     Comedy  ...        $217.57   2010
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011

[12 rows x 8 columns]