In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/pokemon_list.csv'
df = pd.read_csv(url)
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df.head(1)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False

[1 rows x 12 columns]

In [ ]:
df.tail(1)

       #       Name Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
799  721  Volcanion   Fire  Water  ...       90     70           6       True

[1 rows x 12 columns]

In [ ]:
df[['Name', 'Type 1']]

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [ ]:
df.iloc[10:21]

     #                     Name  Type 1  ... Speed  Generation  Legendary
10   8                Wartortle   Water  ...    58           1      False
11   9                Blastoise   Water  ...    78           1      False
12   9  BlastoiseMega Blastoise   Water  ...    78           1      False
13  10                 Caterpie     Bug  ...    45           1      False
14  11                  Metapod     Bug  ...    30           1      False
15  12               Butterfree     Bug  ...    70           1      False
16  13                   Weedle     Bug  ...    50           1      False
17  14                   Kakuna     Bug  ...    35           1      False
18  15                 Beedrill     Bug  ...    75           1      False
19  15    BeedrillMega Beedrill     Bug  ...   145           1      False
20  16                   Pidgey  Normal  ...    56           1      False

[11 rows x 12 columns]

In [ ]:
df.iloc[:,[1,2,3,4]]

                      Name   Type 1  Type 2  HP
0                Bulbasaur    Grass  Poison  45
1                  Ivysaur    Grass  Poison  60
2                 Venusaur    Grass  Poison  80
3    VenusaurMega Venusaur    Grass  Poison  80
4               Charmander     Fire     NaN  39
..                     ...      ...     ...  ..
795                Diancie     Rock   Fairy  50
796    DiancieMega Diancie     Rock   Fairy  50
797    HoopaHoopa Confined  Psychic   Ghost  80
798     HoopaHoopa Unbound  Psychic    Dark  80
799              Volcanion     Fire   Water  80

[800 rows x 4 columns]

In [ ]:
df.loc[df['Type 1']== 'Fire']

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

In [ ]:
df['Type 1']== 'Fire'

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [ ]:
df.loc[(df['Type 1']== 'Fire')& (df['Speed'] >= 100)]

       #                       Name Type 1  ... Speed  Generation  Legendary
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
43    38                  Ninetales   Fire  ...   100           1      False
84    78                   Rapidash   Fire  ...   105           1      False
171  157                 Typhlosion   Fire  ...   100           2      False
263  244                      Entei   Fire  ...   100           2       True
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
437  392                  Infernape   Fire  ...   108           4      False
573  514                   Simisear   Fire  ...   101           5      False
723  655                    Delphox   Fire  ...   104           6      False
731  663                 Talonflame   Fire  ...   126           6      False
736  668                     Pyroar   Fire  ...   106           6      False

[13 rows x 12 columns]

In [ ]:
df.loc[15:21, ['Type 1', 'Speed']]

    Type 1  Speed
15     Bug     70
16     Bug     50
17     Bug     35
18     Bug     75
19     Bug    145
20  Normal     56
21  Normal     71

In [ ]:
df.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [ ]:
df.sort_values('Name', ascending=False )

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [ ]:
df.sort_values(['Type 1','Type 2'], ascending=True)

       #                     Name Type 1  ... Generation  Legendary  Differenza
656  595                   Joltik    Bug  ...          5      False          -3
657  596               Galvantula    Bug  ...          5      False          17
231  214                Heracross    Bug  ...          2      False          50
232  214  HeracrossMega Heracross    Bug  ...          2      False          70
697  636                 Larvesta    Bug  ...          5      False          30
..   ...                      ...    ...  ...        ...        ...         ...
655  594                Alomomola  Water  ...          5      False          -5
724  656                  Froakie  Water  ...          6      False          16
725  657                Frogadier  Water  ...          6      False          11
762  692                Clauncher  Water  ...          6      False          -9
763  693                Clawitzer  Water  ...          6      False         -15

[797 rows x 11 columns]

In [ ]:
df['Differenza'] = df ['Atk'] - df['Def']

KeyError: ignored

In [ ]:
df = df.drop(columns=['Defense', 'Attack'])
df

KeyError: ignored

In [ ]:
df = df.drop([3,4])
df

       #                 Name   Type 1  ... Generation  Legendary  Differenza
0      1            Bulbasaur    Grass  ...          1      False           0
1      2              Ivysaur    Grass  ...          1      False          -1
2      3             Venusaur    Grass  ...          1      False          -1
5      5           Charmeleon     Fire  ...          1      False           6
6      6            Charizard     Fire  ...          1      False           6
..   ...                  ...      ...  ...        ...        ...         ...
795  719              Diancie     Rock  ...          6       True         -50
796  719  DiancieMega Diancie     Rock  ...          6       True          50
797  720  HoopaHoopa Confined  Psychic  ...          6       True          50
798  720   HoopaHoopa Unbound  Psychic  ...          6       True         100
799  721            Volcanion     Fire  ...          6       True         -10

[797 rows x 11 columns]

NameError: ignored